@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
/* General */

*::after,
*::before{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*{
	font-family: Lato, Helvetica, Arial, Sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	position: relative;
	width: auto !important; 
	height: 100%;
	margin:0;
	min-width: 1000px;
}

input.text-input{
	background-color: #fafafa;
	border-radius: 5px; 
	outline: 0;
	border: 1px solid #CCC;
	font-size: 14px;
}

h1{
	position: relative;
	text-align: center;
	font-size:36px;
	padding-bottom: 20px;
	color:#111;
}

h2{
	margin-top: 20px;
	margin-bottom: 10px;
	color: Black;
}

h2.subtitle{
	position: relative;
	text-align: center;
	margin:0 0 20px;
	font-size:25px;
	padding-bottom: 20px;
}

h2.section{
	font-size: 25px;
	color:#BBB;
  	font-weight:400;
}

h2.section a{
	color:#39c;
}
h3{
	margin-bottom:20px;
}


a:hover{
	color: black;
}

a {
  color:#b30000;
  font-weight:400;
  text-decoration:none;
}

.left{
	float: left;
}

.right{
	float: right;
}

/* Layout */
.title{
	top: 30px; 
	margin-bottom: 30px;
}

.center-form{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.hidden{
	display: none;
}

.small-label{
	font-size: 12px;
	margin-right: 10px;
	margin-top: 6px;

}

.big-label{
	font-size: 16px;
	margin-bottom: 7px;
	color: black;
}

.button{
	border: 1px solid #777;
	border-radius: 9px;
	background-color: #BBB;
	font-size: 12px;
	font-weight: 600;
	color: #333;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 10px;
}

.button:hover{
	color : #b30000;
	background-color: #eee;
}


/* Layout */

.container{
	padding-top: 40px;
	position: relative;
}

.description{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.content{
	position: relative;
	height: 100%;
}

.content-inner{
	position: relative;
	height: 100%;
}



.footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	background-color: #111;
	color:white;
	padding: 5px;
}

.footer a{
	color: white;
}

.footer a:hover{
	color: red;
}

.footer-text {
	color: #FFF;
	font-size: 14px;
	line-height: 20px;
	padding: 5px;
}

/* Header */

.seqView{
	position: relative;
	margin-top: 10px;
	width: 940px;
	margin:auto;
	}

.seqView span{
	font-family: monospace;
	font-size: 13px inherit;
}


/* Form */

.form{
	position: relative;
	margin: auto;
	margin-top: 20px;
	width: 50%;
}

.name{
	border-radius: 5px;
	border: 1px solid #CCC; 
	outline:0;
	padding: 2px;
	margin-bottom: 3px;
	
}

.textbox{
	position: relative;
	width: 100%;
	min-height : 200px;
	border-radius: 5px;
	border: 1px solid #CCC; 
	color: #777;
	outline:0;
	text-align: left;
	vertical-align: super;
	overflow-y: scroll;
	margin-bottom: 5px;
}

.clipboard{
}

#clipboard .button{
	width: 100px;
}

#clipboard .tooltipped {
    position: relative;
}

#clipboard .tooltipped::after {
	padding: 5px 8px;
    position: absolute;
    z-index: 1000000;
    top:100%;
    right:50%;
    color: #fff;
	/*font: normal normal 11px / 1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";*/
    text-align: center;
    text-decoration: none;
    word-wrap: break-word;
    white-space: pre;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased
}

.select-css {
    display: block;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    color: #444;
    line-height: 1.4;
    padding: .6em 1.4em .5em .8em;
    width: 100px;
    max-width: 100px; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #249acf 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
	padding: 3rem;

}

select option { 
	line-height: 20px;
	padding: 3rem;
}

