{% extends "layout.html" %}
{% block content %}

<h1>DNA recoder to type II-s genetic parts</h1>

	<form id="form" action="" class="center-form" method="POST">
		<p class ="big-label">Enter query sequence in fasta format</p>
		
		<textarea id="blast-search" class="blast-search" name="query" type="text">>Query
ATGACAGGGCTGCATTCGCTGTCCGATGGATTGCATACATCCGATGGAAAGAAGCCAGATGATGATATAGTCATGGAAGAACGCGAGGGGCCACGACACGGCCGAGTGTACAAAAAGTCTAACTGGACATTGACGGAGCTCCAGGTGCTTCAGACCGCCAAACGTGAGGACCAAGAGAAGCAACTGAAGGCTGACCCCAAGGAAAAGCACAAGTCTGCTGCGGAGCGATGGCAGTGGATAGAAGACTATTGCTGGGATCAGCGCGTCGAGCGAAGCGCACAGCAGTGTAGGGATAGATGGGAAAGGATGTCTGCGGACTTCAAGAAGGTGGGAGATTTTGAAAAACAGGTTCCCAGGGGCGGCACTTCTTACTGGCAGATGACCATAGATGACCGGAAAACCAAGAAATTACCCTCCAATTTTCAGCAAGAAATCTTTCATGCTTTGGGGGAATGGTTTGTCCGGAGTCGTGCTGTAGATCCGAACGACATCGTGATCGACACGTCAGTGCCTTCTCCTTTGCAGGTAAATAATGCCTGCGTCAATTTAGTTAGTAACGGAGACAATTCATCCTCAGAGGAGGGCGAAAGCGATCCTCAAGATGGACCGACTACGTGCAAGAAACGGAAGCTGCCTCCAGGGGTAAATGCGGAAGGAATAGCAGCCATAATTGAGAGGGCGAATATGGCTACTCAGAGGACCATGCTGGAATGTGAGGACAGGAAGGATCGGCGCCACAAGGAAACGCTGGAGGCGAACGAGCGGATCGCTTCCGGTTACATTTCAGCGCTGGTAAGCATAGCAGACGCCCTTCGTCAATTTGCGACAAATAGGGACGACAGAGAGTAA</textarea>
		
		<table class="blast-parameters">
			<tr>
				<th class="small-label">Part type</th>
			</tr>
			<tr>
				<td class="blast-parameter-selector">
					<select id="selector" name="evalue" type="text">
						<option value="10e-2">0.01</option>
						<option value="10e-4" selected>10e-4</option>
						<option value="10e-10">10e-10</option>
						<option value="10e-20">10e-20</option>
					</select>
				</td>
			</tr>
		</table>
	

		<input class="button right" type=submit value=Recode>
	</form>		
{% endblock %}
