{% extends "layout.html" %}
{% block content %}

<h3 class="description">You have been redirected to the singularity page.</h3>

<h3 class="description">This is quite uncommon but it seems as your sequence was recoded, a secondary restriction site was created with the "codon" substitution matrix set in the Recode2s script. You might want to design the recoded site manually to avoid this issue. <br /><br /> Thanks for using Recode2s, and by the way, you might want to try the lottery - those odds can't be beat!</h3>

{% endblock %}
